@import 'variables';

    
/* General Styles */

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Lato-Light, sans-serif;
    font-size: 106%;
    line-height: 1.2;
    color: black;
    background-color: $base-color;
}

section {
    background-color: white;
    box-shadow: 0 0 10px $shadow-color;
    max-width: $page-width;
    margin: $vertical-gap auto;
    padding: 1rem $page-horizontal-padding;
    border-radius: 10px;
}

@media (max-width: $tablet-breakpoint) {
    section {
        margin: $vertical-gap $page-min-horizontal-margin;
    }
}

p {
    margin-bottom: 0.5rem;
}

h1 {
    margin: 0.5rem auto;
}

a {
    font-family: Lato-Regular;
    text-decoration: none !important;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

tt {
    font-family: JetBrainsMono-Thin, monospace;
    font-size: 95%;
}


/* Table Alignments */

.align-top-td {
    text-align: center;
    vertical-align: top;
}


/* Horizontal Flex Container */

.flex-container-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container-h ul {
    list-style: none;
    text-align: center;
}

.flex-container-left li {
    display: inline;
    margin: 0 15px 0 0;
}

.flex-container-right li {
    display: inline;
    margin: 0 0 0 15px;
}


/* Vertical Flex Container */

.flex-container-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* A Flex Container for Centering Elements */

.align-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* A Grid Container for Lists */

.list-container {
    display: grid;
    grid-template-columns: auto auto;
}


/* Icons */

.icon {
    vertical-align: middle;
    height: 20px;
}

.email-icon {
    vertical-align: middle;
    height: 18px;
}

.email-part {
    display: inline-block;
}

.social-icon {
    width: 25px;
    vertical-align: middle;
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.15);
}


/* Copyleft Sign */

.copyleft {
    font-size: large;
}
