@import 'variables';

    
/* Navigation Bar */

header {
    font-family: Lato-Regular;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: black;
    color: white;
    margin-bottom: $vertical-gap;
}

.header-content {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0.75rem $page-horizontal-padding;
}

@media (max-width: $tablet-breakpoint) {
    .header-content {
        margin: 0 $page-min-horizontal-margin;
    }
}

nav ul li {
    display: inline;
    margin: 0 15px 0 0;
}

nav ul li a:link {
    color: white;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:active {
    color: white;
}

nav ul li a:hover {
    color: var(--nav-hover-color);
}

nav ul li a.selected {
    color: lightgreen;
}


/* A Division Containing Header and Main */

.header-main-container {
    flex-shrink: 0;
}

#extra {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
    background-color: $base-color;
}


/* Profile Section */

#profile {
    position: relative;
    margin-top: 0;
    padding: 0;
}

#profile-picture {
    position: absolute;
    left: $page-horizontal-padding;
}

#profile-picture img {
    height: 150px;
    vertical-align: middle;
    border-radius: 50%;
    border: 5px solid white;
}

#landscape-picture {
    width: 100%;
    max-height: 200px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

@media (max-width: $mobile-breakpoint) {
    #landscape-picture {
        overflow-x: scroll;
    }
}

#personal-info {
    padding: 1rem $page-horizontal-padding;
    padding-top: 0.5rem;
}

#personal-info > div {
    align-items: flex-start;
}


/* About Section */

#about {
    box-shadow: 0 0 10px $shadow-color;
}


/* Portfolio Section */

#portfolio {
    margin-bottom: 0;
    box-shadow: 0 0 10px $shadow-color;
}


/* Footer Section */

footer {
    font-family: Lato-Regular;
    flex-shrink: 0;
    background-color: black;
    color: white;
    margin-top: $vertical-gap;
}

.sticky-footer {
    position: sticky;
    bottom: 0;
    z-index: 999;
}

@media (max-wdith: $mobile-breakpoint) {
    .footer {
        text-align: center;
    }
}

.footer-content {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0.75rem $page-horizontal-padding;
}

@media (max-width: $tablet-breakpoint) {
    .footer-content {
        margin: 0 $page-min-horizontal-margin;
    }
}

@media (max-width: $mobile-breakpoint) {
    .footer-content > div {
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    #social-media li {
        display: inline;
        margin: 0 7.5px;
    }

    #social-media {
        margin-bottom: 5px;
    }
}
